.default__btn {
  margin: 0 10px 0 0;
  padding: 8px 5px;
  width: 120px;
  max-height: 40px;
  outline: none;
  background-color: transparent;
  border: 1px solid rgb(29, 161, 242);
  color: rgb(29, 161, 242);
  transition: .3s linear all;
}

.default__btn:hover {
  background-color: rgb(29, 161, 242);
  color: #fff;
}

.default__btn_disable {
  background-color: #dbdbdb;
  color: #000;
  border-color: #dbdbdb;
}

.default__btn_disable:hover {
  background-color: #dbdbdb;
  color: #000;
  border-color: #dbdbdb;
}